{
    "compiler": "component",
    "name": "underscore",
    "version": "1.6.1",
    "author": "minghao.yu",
    "description": "underscore的fekit 组件版",
    "dependencies": {},
    "repository": {
    	"type":"git",
    	"url": "https://github.com/jashkenas/underscore.git"
    },
    "alias": {},
    "export": []
}
