<div class="talk_me clr">
    <div class="prompt clr">客服可能正忙，您可以
        <a id="js_wechat" class="wechat">留下微信号</a>
        来接收商家回复,或者
        <a id="js_lm" class="js_lm">留下联系方式</a>
        等待商家回电
    </div>
</div>