<div class="m-fail">
    <div class="m-content">
        <div class="m-big-msg"><span class="small-icon fail-icon"></span><span class="js-error">出错了<span></div>
        <div class="m-msg-desc">抱歉！暂不支持自动留言功能</div>
    </div>
</div>
<section class="m_mask"></section>