{
    "compiler": "modular",
    "name": "qchat",
    "version": "0.0.1",
    "dependencies": {
        "moment": "1.0.2",
        "QunarAPI": "1.0.11",
        "underscore": "1.6.1"
    },
    "alias": {
        "emotions": "src/scripts/lib/emotions",
        "jp": "src/scripts/lib/jquery-plugins",
        "utils": "src/scripts/utils",
        "page": "src/scripts/page",
        "tmpl": "src/scripts/templates",
        "lib": "src/scripts/lib/",
        "common": "src/scripts/page/common",
        "stylesCommon":"src/styles/common/",
        "qchat": "src/scripts/core/",
        "fonts": "src/assets/fonts",
        "png": "src/assets/png",
        "public": "src/assets/public",
        "touch": "src/assets/touch",
        "web": "src/assets/web",
        "voice": "src/assets/voice"
    },
    "export": [
        "scripts/page/web/qchat.js",
        "scripts/page/touch/qchat.js",
        "scripts/lib/jquery/jquery_1.7.js",
        "navigation.js",
        "styles/web/page/qchat.css",
        "styles/touch/page/qchat.css"      
    ]
}