{
    "compiler": "component",
    "name": "QunarAPI",
    "version": "1.0.11",
    "author": [
        "xiaoxiao.xu",
        "wenqing.wang",
        "xuan.li",
        "adwon.lin"
    ],
    "description": "QuanrAPI",
    "dependencies": {},
    "main": "src/QunarAPI.js",
    "alias": {},
    "export": [
        "QunarAPI.js"
    ]
}
