{{#data}}
<div class="talk_me clr">
	<div class="m-orderlist">
		<div class="item">
			<div class="g-flexbox item-hd dashed-line">
				<div class="flex">
					<span class="text">{{titletxt}}</span>
				</div>
			</div>
			<div class="item-bd">
				<div class="g-flexbox">
					<div class="flex">
						{{#descs}}
						<div class="dl">
							<span class="dt">{{k}}</span>
							<span class="dd">{{v}}</span>
						</div>
						{{/descs}}
					</div>							
				</div>
			</div>					
		</div>
	</div>
</div>
{{/data}}