<div class="faq_talk" >
  <div class="faq_title"><span class="faq-title-ico">&#xf19e;</span>常见问题</div>
  <div class="faq_list">
  	{{#datas.data}}
	<p class="js-faq-item"  data-actionType="actionType" data-url="{{url}}" data-title="{{text}}"><a href="javascript:void(0)" >{{text}}</a></p>
	{{/datas.data}}
  </div>
</div>