{{#data}}
    <div class="talk_ddr clr notify">
        <span class="yo-ico faq-title-ico js-notify-close close">&#xf077;</span>
    {{#noticeStr}}
        <span class="{{type}} js-notify" style="color:{{strColor}}" data-type="{{type}}" data-uri="{{url}}">{{str}}</span>
    {{/noticeStr}} 
    </div>
{{/data}}