{{#data}}
    <li class="item" id="{{contact}}">
        <a href="{{url}}">
            <div class="conitem">
                <div class="item-img"></div>
                <div class="item-detail">
                    <p class="item-na" data-name="{{contact}}">{{contact}}</p>
                    <p class="item-pr">
                        <span class="item-name" data-name="{{user}}">{{user}}</span>{{text}}
                    </p>
                </div>
                <div class="item-time">
                    <span>{{stamp}}</span>
                    <span class="{{classParam}}">{{mark}}</span>
                </div>
            </div>
        </a>
    </li>
{{/data}}