<div class="yo-flex">
    {{^context}}
        <header class="yo-header m-header">
            <h2 class="title">QTalk</h2>
            <a href="javascript: void(0);" id="back" class="regret yo-ico"></a>
        </header>
    {{/context}}
    <div class="flex">
        <section id="wrapper" class="m-list wrapper">
            <ul class="yo-list" id="con-list">

            </ul>
        </section>

    </div>
</div>


