{{#data}}
<li class="msg msg-u">
    <a class="product-container" href="{{url}}">
        <div class="img_box">
            <img src="{{img}}">
            <span class="img-box-tag">{{type}}</span>
        </div>
        <div class="product-title">
            <h3 class="h3">{{title}}</h3>
            <div class="product-tag">{{tag}}</div>
            <div class="product-price">
                <span class="price"><b>¥</b>{{qPrice}}</span>{{unit}}
            </div>
        </div>
    </a>
</li>
{{/data}}